.arabic-navbar{
  position: sticky;
  top: 0;
  z-index: 999;
}

.login-btn{
    background: 0 !important;
    color: var(--main-color);
    border: 0;
    font-weight: 600;
}
.login-btn:hover{
    background: 0;
    color: #007bff;
    border: 0;
}
a{
    font-size: 18px !important;
}

.navbar-brand{
    font-size: 21px !important;
    display: flex;
    width: 200px;
}
.navbar-brand img{
    width: 100%;
    height: 50px;
    object-fit: cover;
}
.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000; /* Change this to your desired color */
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: #007bff !important; /* Change this to the hover color */
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff; /* Change to your preferred underline color */
    transition: width 0.3s ease-in-out;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  @media screen and (max-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link{
      font-size: 14px !important;
    }
  }