.my-courses{
    margin-top: -100px;
}
.my-courses .card {
    border-radius: 10px;
    overflow: hidden;
    height: 450px;
    transition: all 0.2s ease-in-out;
    padding: 10px;
}
  .my-courses .card:hover{
    box-shadow: 0 10px 22px rgb(0 0 0 / 17%) !important;
}
  .my-courses .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .my-courses .card p{
    color: #888;
    font-size: 18px;
    margin-bottom: 0;
  }
  .my-courses .card-title {
    font-size: 1rem;
    font-weight: bold;
  }
  .my-courses .card .price{
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 0;
  }
  
  .my-courses .card-text {
    color: #28a745;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .my-courses .card img {
    height: 240px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .my-courses .enroll-btn{
    background-color: var(--yellow-color) !important;
    border: 0 !important;
    font-size: 14px !important;
    color: black !important;
    font-weight: 600 !important;
  }
  .my-courses .enroll-btn:hover{
    color: black !important;
    border: 0 !important;
  }
  .my-courses .search span,
  .my-courses .search input{
    border-radius: 2px !important;
  }